<header class="space-y-2">
  <h1 class="text-2xl sm:text-3xl font-extrabold tracking-tight text-slate-900 break-words">
    <%= kampo.name %>
  </h1>

  <% if kampo.kana_name.present? %>
    <p class="text-xs sm:text-sm text-slate-500">
      <%= kampo.kana_name %>
    </p>
  <% end %>
</header>